<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Resume Analysis</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex">
  <!-- <title>Prediction Results</title> -->
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
  <link href="/static/css/styles-merged.css" type="text/css" rel="stylesheet" />
  <link href="/static/css/style.min.css" type="text/css" rel="stylesheet" />
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <style>
	body { padding-top:0px; font-family: 'Montserrat' !important;}
    .box {
    float: left;
    width: 49%;
    height: auto;
    margin-top: 2px;
    margin-left: 3px;
}
.container {
margin-left:100px;
}
.nav>li>a {
    position: relative;
    display: block;
    font-size: 25px;
    margin-right: 90px;
    padding: 15px 45px;
}
#output_image
{
 max-width:300px;
 max-height:280px;
}

</style>
   <script language="JavaScript">
    function showInput() {
        document.getElementById('display').innerHTML = 
                    "Job Description";
		
  </script>

  </head>

  <body style=" height:100%; margin:auto ; " >
  <header>
           <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                 <div class="col-sm-4 col-xs-6">
                    <img style="padding-top: 18px;" src="static/images/logo.png" class="img-responsive" style="width: 80px; height: 70px;"></img>
                 </div>
                 <div class="col-sm-offset-4 col-sm-4 col-xs-6">
                    <img id="ds-logo" style="float:right"  src="static/images/mil-light-logo.jpg" class="img-responsive dslogo" height="30" width="180"></img>
                 </div>
              </div>
           </nav>
        </header>
		
		
     <div class="box">
      <div  style="max-width: 700px; margin: auto;">
        <h3 style="color: black">Select a Resume to upload</h3>
		<form id="upload-image-form" name="img3" action="/jd" method="POST" onchange="preview_image(event)"   enctype="multipart/form-data" autocomplete="off" >
          <div id="image-preview-div" style="display: none">
            <br><label for="exampleInputFile">Selected Resume:</label>
            <br>
          </div>
		  <br>
		      <div class="form-group">
            <input type="file" name="file1" id="file1" accept="application/pdf"  required  /></br></br>
             
		   Experience(in years): <input type="text" name="fname" id = "fname" ></input></br></br></br>
		   <!-- Location: <input type="text" name="location" id = "location" ></input></br></br></br></br> -->
		   
		   <label for="usr">Preferred Location:</label>
			<select id="location" name="location" class="form-control" style="width: 300px;">
			  <option value="" disabled selected>Select Location</option>
              <option>USA-North Carolina</option>
			  <option>Miracle City IND</option>
              <option>Miracle Heights IND</option>
              <option>USA-Illinois</option>
              <option>USA-Maryland</option>
	          <option>USA-Arkansas</option>
	          <option>USA-Michigan</option>
	          <option>USA-North Carolina</option>
             </select>

		   
<!-- 		  <input style= "position:relative;left:2px;top:-30px; font-size :20px;"  class="btn btn-primary" class="button" type="submit"  id="upload-button" value="Upload" onclick="showInput()"/>
		  </div> -->
		<br><br><button class="btn btn-lg btn-primary" id="upload-button" type="submit" >Upload Details</button>
		
		</form>
		
		 <br>

        <div id="message"></div>
   	  </div>
	  </div>
</div>
	  <br><br>
	<div class="box">
	{% if result %}
	
	<font size="4" face="montserrat" >
	<table border = 2 id="table">
         {% for key, value in result.items() %}
            <tr>
              <th><h3><b> {{ key }} </b></h3></th>
              <td><h3> {{ value }} </h3></td>
            </tr>
			
         {% endfor %}
      </table>
	  </font>
	  {% endif %}

<br><br>
	<!--    {% for t in re %} 
	   <h3><b>{{ t }} </b></h3>
	   {% endfor %} -->
	   	  <table width="500">
	 {% if da %}
     <h3>Related JobDescriptions: </h3>
	 {{ da | safe}}
	 {% endif %}
	
	 {% if stt %}
	 <h3> {{ stt }} </h3>
	 {% endif %}
	  </table>
    	</div>
	
 
  
<div>
<footer class="container-fluid navbar-fixed-bottom" style="background-color:#232527;color:#fff;width:100%;">
        <div class="row">
           <div class="container-fluid" style="padding:10px 0px;">
              <div class="col-sm-3 col-xs-12">
                 <h6 id="footpara1">&#169 2019 <span id="red"> Miracle Software Systems, Inc</span></h6>
              </div>
              <div class="col-sm-offset-6 col-sm-3 col-xs-12">
                 <h6 id="footpara2" align="right">Created by <b> Miracle's<span id="red"> Innovation Labs</b></span></h6>
              </div>
           </div>
        </div>
     </footer>
</div>

	 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	
  </body>
</html>